mixin icon-instagram(color, link)
  .icon.instagram
    span.visibility-hidden instagram
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.412 54.411">
        <path d="M693.029,302.539c7.264,0,8.125.028,10.993.159a15.064,15.064,0,0,1,5.052.937,9.013,9.013,0,0,1,5.163,5.163,15.065,15.065,0,0,1,.937,5.052c.13,2.868.158,3.729.158,10.993s-.028,8.125-.158,10.993a15.065,15.065,0,0,1-.937,5.052,9.013,9.013,0,0,1-5.163,5.163,15.065,15.065,0,0,1-5.052.937c-2.868.131-3.729.159-10.993.159s-8.126-.028-10.994-.159a15.058,15.058,0,0,1-5.051-.937,9.006,9.006,0,0,1-5.163-5.163,15.036,15.036,0,0,1-.938-5.052c-.13-2.868-.158-3.729-.158-10.993s.028-8.125.158-10.993a15.035,15.035,0,0,1,.938-5.052,9.005,9.005,0,0,1,5.163-5.163,15.057,15.057,0,0,1,5.051-.937c2.869-.131,3.729-.159,10.994-.159m0-4.9c-7.389,0-8.316.031-11.218.163a19.964,19.964,0,0,0-6.6,1.265,13.915,13.915,0,0,0-7.956,7.956,19.967,19.967,0,0,0-1.265,6.6c-.132,2.9-.164,3.828-.164,11.217s.032,8.315.164,11.217a19.967,19.967,0,0,0,1.265,6.6,13.915,13.915,0,0,0,7.956,7.956,19.965,19.965,0,0,0,6.6,1.265c2.9.132,3.828.163,11.218.163s8.314-.031,11.217-.163a19.959,19.959,0,0,0,6.6-1.265,13.912,13.912,0,0,0,7.957-7.956,19.967,19.967,0,0,0,1.264-6.6c.132-2.9.164-3.828.164-11.217s-.032-8.315-.164-11.217a19.967,19.967,0,0,0-1.264-6.6,13.912,13.912,0,0,0-7.957-7.956,19.958,19.958,0,0,0-6.6-1.265c-2.9-.132-3.828-.163-11.217-.163Z" transform="translate(-665.823 -297.638)" fill="#{color}"/>
        <path d="M692.7,310.54a13.97,13.97,0,1,0,13.97,13.97A13.97,13.97,0,0,0,692.7,310.54Zm0,23.038a9.068,9.068,0,1,1,9.068-9.068A9.068,9.068,0,0,1,692.7,333.578Z" transform="translate(-665.49 -297.305)" fill="#{color}"/>
        <ellipse cx="3.265" cy="3.265" rx="3.265" ry="3.265" transform="translate(38.464 9.418)" fill="#{color}"/>
    </svg>
    a.covered-link(href=link)

mixin icon-twitter(color, link)
  .icon.twitter
    span.visibility-hidden twitter
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.693 54.693">
        <path d="M722.749,358.764A27.346,27.346,0,1,0,750.1,386.11,27.346,27.346,0,0,0,722.749,358.764Zm13.735,22.162q.019.423.018.852c0,8.711-6.631,18.757-18.757,18.757a18.66,18.66,0,0,1-10.105-2.961,13.475,13.475,0,0,0,1.572.091,13.225,13.225,0,0,0,8.188-2.822,6.6,6.6,0,0,1-6.159-4.579,6.57,6.57,0,0,0,2.978-.113,6.6,6.6,0,0,1-5.289-6.462c0-.029,0-.057,0-.085a6.544,6.544,0,0,0,2.986.825,6.6,6.6,0,0,1-2.04-8.8,18.712,18.712,0,0,0,13.588,6.888A6.6,6.6,0,0,1,734.7,376.5a13.24,13.24,0,0,0,4.186-1.6,6.62,6.62,0,0,1-2.9,3.647,13.173,13.173,0,0,0,3.785-1.038A13.419,13.419,0,0,1,736.484,380.926Z" transform="translate(-695.403 -358.764)" fill="#{color}"/>
    </svg>
    a.covered-link(href=link)

mixin icon-box(color)
  .icon.box
    span.visibility-hidden box icon
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.248 42.107">
        <path d="M963.442-446.743l-20.453-5.706v-29.009l20.453,5.706Z" transform="translate(-435.434 -20.009)" fill="#{color}"/>
        <path d="M1091.375-481.458l-20.453,5.706v29.009l20.453-5.706Z" transform="translate(-539.571 -20.009)" fill="#{color}"/>
        <path d="M972.7-509.828l20.39-5.688L972.7-521.2l-20.39,5.688Z" transform="translate(-443.022 12.344)" fill="#{color}"/>
    </svg>